{% extends "TrakiDinarek_Profile/base_generic.html" %}
{% load static %}
{% load TrakiDinarek_association_extras %}
{% load TrakiDinarek_login_extras %}
{% block css %}
  <!--external css-->
  <link href="{% static 'lib/advanced-datatable/css/demo_page.css' %}" rel="stylesheet" />
  <link href="{% static 'lib/advanced-datatable/css/demo_table.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'lib/advanced-datatable/css/DT_bootstrap.css' %}" />
              <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-fileupload/bootstrap-fileupload.css'%}" />

{% endblock %}
{% block content %}
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Home Slider List</h3>
        <div class="row mb">
          <!-- page start-->
          <div class="content-panel">
            <div class="adv-table">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th class="hidden-phone">sub_name</th>
                    <th class="hidden-phone">short description</th>
                     <th class="hidden-phone">Text</th>

                    <th class="hidden-phone">Picture</th>

                    <th></th>


                  </tr>
                </thead>
                <tbody >
                {% for element in Slider %}
                     <tr>
                        <td>{{ element.id }}</td>
                        <td>{{ element.name }}</td>
                        <td>{{ element.sub_name }}</td>
                        <td>{{ element.short_description}}</td>
                         <td>{{ element.description}}</td>
                        <td><img src="{% get_media_prefix %}{{ element.photo.name }}" style="height: 100px"></td>
                        <td ><button id="{{ element.id }}" type="button" class="btn btn-danger">Delete</button></td>
                     </tr>
                  {% endfor %}

                </tbody>
              </table>

            </div>

          </div>

          <!-- page end-->
        </div>
        <!-- /row -->
      </section>
    <section class="wrapper">
        <div class="row mt">
            <div class="col-lg-12">
                 <div class="form-panel">
                <h4 class="mb">Add new Slider</h4>

                <form role="form" class="form-horizontal" action="{% url 'home_slider' %}" method="post" enctype="multipart/form-data">
                     {% csrf_token %}

                  <div class="form-group {% if form.name.errors %} has-error{% endif %}">
                    <label class="col-lg-2 control-label " >{{ form.name.label }}</label>
                    <div class="col-lg-6">
                      {{ form.name }}
                        {% if form.name.errors %}
                        <p class="help-block"> {{ form.name.errors }}</p>
                        {% endif %}
                    </div>
                  </div>
                  <div class="form-group {% if form.sub_name.errors %} has-error{% endif %}">
                    <label class="col-lg-2 control-label ">{{ form.sub_name.label }}</label>
                    <div class="col-lg-6">
                        {{ form.sub_name }}
                          {% if form.sub_name.errors %}
                        <p class="help-block"> {{ form.sub_name.errors }}</p>
                        {% endif %}
                    </div>
                  </div>
                  <div class="form-group {% if form.short_description.errors %} has-error{% endif %}">
                    <label class="col-lg-2 control-label ">{{ form.short_description.label }}</label>
                    <div class="col-lg-6">
                      {{ form.short_description }}
                          {% if form.short_description.errors %}
                        <p class="help-block"> {{ form.short_description.errors }}</p>
                        {% endif %}
                    </div>
                  </div>
                       <div class="form-group {% if form.description.errors %} has-error{% endif %}">
                    <label class="col-lg-2 control-label ">{{ form.description.label }}</label>
                    <div class="col-lg-6">
                      {{ form.description }}
                          {% if form.description.errors %}
                        <p class="help-block"> {{ form.description.errors }}</p>
                        {% endif %}
                    </div>
                  </div>
                    <div class="form-group last {% if form.photo.errors %} has-error{% endif %}">
                  <label class="control-label col-md-3 ">Image Upload</label>
                  <div class="col-md-9">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                      <div class="fileupload-new thumbnail" style="width: 200px; height: 200px;">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                      </div>
                      <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 200px; line-height: 20px;"></div>
                      <div>
                        <span class="btn btn-theme02 btn-file">
                          <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select image</span>
                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                            <input type="file" name="{{ form.photo.name }}" accept="image/*" class="default" required="" id="{{ form.photo.id_for_label }}">

                        </span>
                          {% if form.photo.errors %}
                             <p class="help-block"> {{ form.photo.errors }}</p>
                         {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                  <button type="submit" class="btn btn-theme" >Add</button>

                </form>
               </div>
            </div>
        </div>
    </section>
      <!-- /wrapper -->
    </section>
{% endblock %}
{% block js %}

  <script type="text/javascript" src="{% static 'lib/advanced-datatable/js/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/advanced-datatable/js/DT_bootstrap.js' %}"></script>
      <script type="text/javascript" src="{% static 'lib/bootstrap-fileupload/bootstrap-fileupload.js' %}"></script>

  <script src="{% static 'lib/bootstrap-switch.js' %}"></script>

    <script>
    let details_open_image="{% static 'lib/advanced-datatable/images/details_open.png'%}";
    let details_close_image="{% static 'lib/advanced-datatable/images/details_close.png' %}";
    </script>
  <script type="text/javascript" src="{% static 'js/users_tables_javascript.js' %}"></script>

{% endblock %}
