{% extends "TrakiDinarek_Profile/base_generic.html" %}
{% load static %}
{% load TrakiDinarek_association_extras %}
{% load TrakiDinarek_login_extras %}
{% block css %}
  <!--external css-->
  <link href="{% static 'lib/advanced-datatable/css/demo_page.css' %}" rel="stylesheet" />
  <link href="{% static 'lib/advanced-datatable/css/demo_table.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'lib/advanced-datatable/css/DT_bootstrap.css' %}" />
{% endblock %}
{% block content %}
    <section id="main-content">
      <section class="wrapper "style="width: 99%">
        <h3><i class="fa fa-angle-right"></i> User's List</h3>
        <div class="row mb">
          <!-- page start-->
          <div class="content-panel">
            <div class="adv-table">
              <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                  <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th class="hidden-phone">address</th>
                    <th class="hidden-phone">city</th>
                    <th class="hidden-phone">zip</th>
                    <th class="hidden-phone">phone</th>
                    <th class="hidden-phone">Association</th>
                    <th style="display: none" class="hidden-phone">Identity card:</th>
                    <th style="display: none" class="hidden-phone">ASSOCIATION'S DIRECTOR JUSTIFICATION:</th>
                    <th style="display: none" class="hidden-phone">Declaration of the association</th>
                    <th class="hidden-phone">validated Identity</th>
                    <th class="hidden-phone">validated Justification</th>
                    <th class="hidden-phone">validated Declaration</th>

                  </tr>
                </thead>
                <tbody >
                {% for user in users %}
                     <tr>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.profile.address }}</td>
                        <td>{{ user.profile.city }}</td>
                        <td>{{ user.profile.zip }}</td>
                        <td>{{ user.profile.phone }}</td>
                        <td>{{ user.Association.name }}</td>
                        <td style="display: none">
                            {% if user.documents.jort_justification %}
                                 <a href="{% get_media_prefix %}/{{ user.documents.jort_justification }}" target="_blank">
                                           {%   filename user.documents.jort_justification %}
                                 </a>
                            {% else %}
                            {% endif %}
                        </td>
                        <td style="display: none">
                            {% if user.documents.president_justification %}
                                <a href="{% get_media_prefix %}/{{ user.documents.president_justification}}" target="_blank">
                                   {%   filename user.documents.president_justification %}
                                </a>
                            {% else %}
                            {% endif %}
                        </td>
                        <td style="display: none">
                            {% if user.documents.declaration_justification %}
                                <a href="{% get_media_prefix %}/{{ user.documents.declaration_justification }}" target="_blank">
                                       {%   filename user.documents.declaration_justification %}
                                </a>
                            {% else %}
                            {% endif %}
                        </td>
                        <td class="center">

                            {% if user.documents.jort_validated == True %}
                          <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                                <input id="JORT" checked name="{{ user.id }}" type="checkbox" />
                            </div>
                            {% elif user.documents.jort_justification %}
                               <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                                <input id="JORT" name="{{ user.id }}" type="checkbox" />
                            </div>
                                {% else %}
                            <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                                <input id="JORT" disabled name="{{ user.id }}" type="checkbox" />
                            </div>
                            {% endif %}
                        </td>
                        <td class="center">
                            {% if user.documents.president_validated == True %}
                                <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                                    <input id="PRESIDENT" checked name="{{ user.id }}" type="checkbox" />
                                </div>
                            {% elif user.documents.president_justification %}
                                <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                                    <input id="PRESIDENT"  name="{{ user.id }}" type="checkbox" />
                                </div>
                            {% else %}
                                <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                                    <input id="PRESIDENT" disabled name="{{ user.id }}" type="checkbox" />
                                </div>
                            {% endif %}
                        </td>
                        <td class="center">
                             {% if user.documents.declaration_validated == True %}
                                <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                                    <input id="DECLARATION{{ user.id }}" checked name="" type="checkbox" />
                                </div>
                             {% elif user.documents.declaration_justification %}
                                <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                                    <input id="DECLARATION{{ user.id }}" name="{{ user.id }}" type="checkbox" />
                                </div>
                             {% else %}
                                <div class="switch switch-square" data-on-label="<i class=' fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
                                    <input id="DECLARATION" disabled name="{{ user.id }}" type="checkbox" />
                                </div>
                             {% endif %}
                        </td>

                     </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
          <!-- page end-->
        </div>
        <!-- /row -->
      </section>
      <!-- /wrapper -->
    </section>
{% endblock %}
{% block js %}

  <script type="text/javascript" src="{% static 'lib/advanced-datatable/js/jquery.dataTables.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/advanced-datatable/js/DT_bootstrap.js' %}"></script>
  <script src="{% static 'lib/bootstrap-switch.js' %}"></script>

    <script>
    let details_open_image="{% static 'lib/advanced-datatable/images/details_open.png'%}";
    let details_close_image="{% static 'lib/advanced-datatable/images/details_close.png' %}";
    </script>
  <script type="text/javascript" src="{% static 'js/users_tables_javascript.js' %}"></script>

{% endblock %}
