{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>TrakiDinarek - Fund your projects</title>
  <!-- Favicons -->
    <link href="{% static 'Images/logo.png' %} " rel="icon">
    <link rel="apple-touch-icon" href="{% static 'Images/logo.png' %}" >
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- ElegantFonts CSS -->
    <link rel="stylesheet" href="{% static 'css/elegant-fonts.css' %}/">

    <!-- themify-icons CSS -->
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}/">

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/style_home.css' %}">
    {% block css%}{% endblock css %}

</head>
    {% if request.path ==  '/'  %}

      <body>
    {% elif request.path ==  '/causes/'%}
      <body class="single-page causes-page">
    {% elif request.path == '/about_us/' %}
        <body class="single-page about-page">
    {% elif request.path == '/gallery/' %}
        <body class="single-page portfolio">
    {% elif request.path == '/new/' %}
        <body class="single-page news-page-page">
    {% elif request.path == '/contact/' %}
        <body class="single-page contact-page">
        {% elif request.path == '/element/' %}
        <body class="single-page elements-page">
        {% elif request.path == '/single_causes/' %}

    {% endif %}
   {% include "TrakiDinarek_home/header_home.html" %}

{% block content %}<!-- default content text (typically empty) -->{% endblock %}
{% include "TrakiDinarek_home/footer_home.html" %}

    <script type='text/javascript' src='{% static "vendor/jquery/jquery-3.4.1.min.js" %}'></script>
    <script type='text/javascript' src='{% static "/js/jquery.collapsible.min.js" %}'></script>
    <script type='text/javascript' src='{% static "/js/swiper.min.js" %}'></script>
    <script type='text/javascript' src='{% static "/js/jquery.countdown.min.js" %}'></script>
    <script type='text/javascript' src='{% static "/js/circle-progress.min.js" %}'></script>
    <script type='text/javascript' src='{% static "/js/jquery.countTo.min.js" %}'></script>
    <script type='text/javascript' src='{% static "/js/jquery.barfiller.js" %}'></script>
    <script type='text/javascript' src='{% static "/js/custom.js" %}'></script>

{% block js%}

{% endblock js %}
	</body>

</html>

