{% load static %}
{% load TrakiDinarek_Profile_extras %}

		<header class="site-header">

        <div class="nav-bar ">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                           <a class="d-block" href="{% url 'home' %}" rel="home"><img class="d-block" src="{% static 'Images/logo.png' %}" alt="logo"></a>
                        </div><!-- .site-branding -->

                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-content-center">

                                <li {% if request.path ==  '/'  %}
                                    class="current-menu-item"
                                    {% endif %}><a href="{% url 'home' %}">Home</a></li>
                                <li {% if request.path ==  '/about_us/'  %}
                                    class="current-menu-item"
                                    {% endif %}><a href="{% url 'about' %}">About us</a></li>
                                <li {% if request.path ==  '/causes/'  %}
                                    class="current-menu-item"
                                    {% endif %}><a href="{% url 'causes' %}">Causes</a></li>
                                <li {% if request.path ==  '/gallery/'  %}
                                    class="current-menu-item"
                                    {% endif %}><a href="{% url 'gallery' %}">Gallery</a></li>
                                <li {% if request.path ==  '/news/'  %}
                                    class="current-menu-item"
                                    {% endif %}><a href="{% url 'news' %}">News</a></li>
                                <li {% if request.path ==  '/contact/'  %}
                                    class="current-menu-item"
                                    {% endif %}><a href="{% url 'contact' %}">Contact</a></li>
                                    {% if user.is_authenticated %}
                                      <div class="float-none centered">
                                          <div class="centered" style="display: table">
                                          <a href="{% url 'profile' %}"><img src="{% user_picture user %}" class="rounded-circle" style="height: 40px; margin-top: 10px ;"></a>
                                          </div>
                                          <div class="centered d-table" style="font-size:12px " >
                                               {{ user.get_full_name }}
                                          </div>
                                      <div class="centered d-table">
                                          {{ user.balance }} <img src="{% static 'Images/TDCoins.png' %}" class="Coin" alt="">
                                      </div>
                                      </div>





                                     {% endif %}

                                    </ul>


                        </nav><!-- .site-navigation -->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->
    </header><!-- .site-header -->