{% extends "TrakiDinarek_login/base_generic.html" %}
 {% load static %}

{% block js %}
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
    <script type="text/javascript">
    let eye = "{% static '/Images/eye.png' %}";
    </script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="{% static 'js/account.js' %}"></script>
    <!--===============================================================================================-->
{% endblock %}
{% block css %}
    <link href="{% static 'css/account.css' %}" rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
<section class="register">
    <img src="{% static '/Images/logo.png' %}">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
               <img src="{% static '/Images/check_mark.png' %}"> <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'login' %}"><input id="Home" type="button" value="Go to Login "/></a>


    {% else %}

    <form method="POST">
        {% csrf_token %}
        <table>
          {{form.as_table}}
        </table>
        <input type="submit" value="Reset password">
    </form>
    {% endif %}

</section>

{% endblock %}