{% extends "TrakiDinarek_login/base_generic.html" %}
 {% load static %}

{% block js %}
    <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
    <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
    <script type="text/javascript">
    let eye = "{% static '/Images/eye.png' %}";
    </script>
    <!--===============================================================================================-->
{% endblock %}
{% block css %}
    <link href="{% static 'css/account.css' %}" rel='stylesheet' type='text/css' />
{% endblock %}

{% block content %}
<section class="register">
    <img src="{% static '/Images/logo.png' %}">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                 {% if form %}
                   <img src="{% static '/Images/Red-Cross.png' %}">
                     <li class="error">{{ message }}</li>

                {% else %}
                    <img src="{% static '/Images/check_mark.png' %}">
                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>

                {% endif %}

            {% endfor %}
        </ul>


    {% endif %}
  {% if form %}

    <form action="." method="POST">
        {% csrf_token %}
        <table>
          {{form.as_table}}
        </table>
        <input type="submit" value="Resend activation link">
    </form>
    {% endif %}
    <hr>
              <a href="{% url 'login' %}"><input id="Home" type="button" value="Go to Login "/></a>
</section>

{% endblock %}