/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{ vertical-align:baseline;}/* vertical align baseline */
.vertical-top{  vertical-align:top;}/* vertical align top */
nav.vertical ul li{ display:block;}/* vertical menu */
nav.horizontal ul li{   display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/


html {
    background: url(../Images/bg.png) 0px 0px no-repeat;
    background-size: cover;
}

body{
    font-family: Helvetica_Neue, serif;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;

  }
section.register {
    width: 500px;
    border-radius: 10px;/* equal height of the children */
    padding: 55px 55px 37px 55px;
    overflow: hidden;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

section.register > img{
        display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
form{
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block
}
table{
    width: 100%;

}
th, td {
    display: block;
    width: 100%;
    position: relative;
}
tr{
    align-items: center;
    justify-content: center;
}
label {
text-transform: initial;
margin-bottom: 5px;
color: #6B6C6F;
font-size: 18px;
}
input {
box-sizing: border-box;
border: 1px solid #ebebeb;
padding: 12px 16px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-o-border-radius: 5px;
-ms-border-radius: 5px;
font-size: 14px;
font-family: 'Poppins';
margin-bottom: 20px;
    width: 100%;
}
 input[type=submit]{
    outline: none;
    color: #FFF;
    background-color:#F27D13;
    font-family: Helvetica_Neue;
    font-size: 100%;
    padding: 1em 3em;
    -webkit-appearance: none;
    border: 0px solid #707070;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    letter-spacing:2px;
    text-align: center;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     width: auto;
}
  input[type=button]{
    outline: none;
    color: #FFF;
    background-color:#F27D13;
    font-family: Helvetica_Neue;
    font-size: 100%;
    padding: 1em 3em;
    -webkit-appearance: none;
    border: 0px solid #707070;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    letter-spacing:2px;
    text-align: center;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
     display: block;
     width: auto;
}
.errorlist{
    font-family: Helvetica_Neue;
    content: '\f1f8';
    margin: 15px auto;
    right: 20px;
    top: 37px;
    color: #c70000;
}
.messages{
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
        line-height: 2;
}

.messages img{
    width: 12%;
    margin-bottom: 10px;
    padding: 15px 0;
    float: left;
}
.success{
    color: #4BB543;
}
.error{
    color: red;
}
.messages li{
    display: table;
    margin-right: auto;
    margin-left: auto;
    font-size: 20px;
    text-align:center;
}
.btn-show-pass {
font-size: 15px;
color: #999999;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
margin-top: 13px;
align-items: start;
position: absolute;
height: 100%;
top: 0;
right: 0;

padding-right: 5px;
cursor: pointer;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}