.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;

}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;

}
.img-responsive{
        max-width: 100%;
    height: auto;
}

div[name="1"]{

    background: #E4233C;
}
div[name="2"]{

    background: #DEA739;
}
div[name="3"]{

    background: #4B9F46;
}
div[name="4"]{

    background: #C5202D;
}
div[name="5"]{

    background: #EF3F2B;
}
div[name="6"]{

    background: #27BDE2;
}
div[name="7"]{

    background: #FCC30B;
}
div[name="8"]{

    background: #A21942;
}
div[name="9"]{

    background: #F26A2C;
}div[name="10"]{

    background: #DD1768;
}div[name="11"]{

    background: #F99D28;
}div[name="12"]{

    background: #BF8B2C;
}
 div[name="13"]{

    background: #3F7E44;
}
 div[name="14"]{

    background: #0A97D9;
}
 div[name="15"]{

    background: #5BBA47;
}div[name="16"]{

    background: #00689D;
}
 div[name="17"]{

    background: #17486A;
}



.hovereffect:hover img {
 visibility: hidden;
  transition: all 0.0s;
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 33px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}


.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
    tab-size: 24px;
}
.project_name {
        font-size: 15px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding-top: 5px;
    text-align:center;
}
.row{
        margin-right: auto;
    margin-left: auto;
    width: 80%;

}
.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 4px solid transparent;
	margin-bottom: 0;
	outline: 0;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}

.image-checkbox-checked {
	border-color: #4783B0;

}
.image-checkbox .fa {
  position: absolute;
  color: #4A79A3;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}