/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
    .project_name {
        font-size: 15px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding-top: 5px;
    text-align:center;
}
    .img-responsive{
        max-width: 100%;
    height: auto;
}

#progressbar li {
    list-style-type: none;
    color: #6B6C6F;
    text-transform: uppercase;
    font-size: 15px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 15px;
    color: #FFF;
    background: #6B6C6F;
    border-radius: 25px;
    margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #6B6C6F;
    position: absolute;
    left: -50%;
    top: 13px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #F27D13;
    color: #FFF;
}



/*form styles*/
#msform {

    position: relative;
    margin-top: 30px;
}
.fs-title,.fs-subtitle{
    text-align: center;
}



/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #F27D13;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;

}

#msform .action-button-previous {
    width: 100px;
    background: white;
    font-weight: bold;
    color: #F27D13;
    border-color: #F27D13;
    border-style: double;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}
iframe {
    width: 100%;
}
.note-editor {
    width: 100%;
}