{% extends "TrakiDinarek_Profile/base_generic.html" %}
{% load static %}
{% load TrakiDinarek_Profile_extras %}



{% block content %}
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
             <div class="col-lg-12 mt">
                  <div class="row content-panel">
    <h1>Your payment has not been processed</h1>
<p>There was a problem processing your payment.</p>
                  </div>
             </div>
        </section>
    </section>
          <!--/col-lg-12 mt -->

      <!-- /wrapper -->
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'lib/bootstrap-fileupload/bootstrap-fileupload.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>

{% endblock %}
{% block css %}

{% endblock %}