{% extends "TrakiDinarek_Profile/base_generic.html" %}
{% load static %}
{% load TrakiDinarek_Profile_extras %}



{% block content %}
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
             <div class="col-lg-12 mt">
                  <div class="row content-panel">
                    <div class="col-lg-10 col-lg-offset-1">
                      <div class="invoice-body">
                        <div class="pull-left">
                                <address>
                                    <img src="{% static '/Images/logo.png' %}" height="50px" >
                                    <strong>Admin Theme, Inc.</strong><br>
                                    795 Asome Ave, Suite 850<br>
                                    New York, 94447<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                              </address>
                        </div>
                        <!-- /pull-left -->
                        <div class="pull-right">
                          <h2>invoice</h2>
                        </div>
                        <!-- /pull-right -->
                        <div class="clearfix"></div>
                        <br>
                        <br>
                        <br>
                        <div class="row">
                          <div class="col-md-9">
                            <h4>{{ user.get_full_name }} </h4>
                            <address>
                          <strong>Enterprise Corp.</strong><br>
                          234 Great Ave, Suite 600<br>
                          San Francisco, CA 94107<br>
                          <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                          </div>
                          <!-- /col-md-9 -->
                          <div class="col-md-3">
                            <br>
                            <div>
                              <div class="pull-left"> INVOICE NO : </div>
                              <div class="pull-right"> 000283 </div>
                              <div class="clearfix"></div>
                            </div>
                            <div>
                              <!-- /col-md-3 -->
                              <div class="pull-left"> INVOICE DATE : </div>
                              <div class="pull-right"> 15/03/14 </div>
                              <div class="clearfix"></div>
                            </div>
                            <!-- /row -->
                            <br>
                            <div class="well well-small green">
                              <div class="pull-left"> Total Due : </div>
                              <div class="pull-right"> 8,000 USD </div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                          <!-- /invoice-body -->
                        </div>
                        <!-- /col-lg-10 -->
                        <table class="table">
                          <thead>
                            <tr>
                              <th style="width:60px" class="text-center">QTY</th>
                              <th class="text-left">DESCRIPTION</th>
                              <th style="width:140px" class="text-right">UNIT PRICE</th>
                              <th style="width:90px" class="text-right">TOTAL</th>
                            </tr>
                          </thead>
                          <tbody>

                            <tr>
                              <td class="text-center">2</td>
                              <td>TrakiDinarek coins</td>
                              <td class="text-right">$300.00</td>
                              <td class="text-right">$600.00</td>
                            </tr>
                            <tr>
                              <td class="text-right no-border">
                                <div class="well well-small green"><strong>Total</strong></div>
                              </td>
                              <td class="text-right"><strong>$1029.00</strong></td>
                            </tr>
                          </tbody>
                        </table>
                        <br>
                        <br>
                      </div>
                    </div>
                  </div>
             </div>
        </section>
    </section>
          <!--/col-lg-12 mt -->

      <!-- /wrapper -->
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{% static 'lib/bootstrap-fileupload/bootstrap-fileupload.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>

{% endblock %}
{% block css %}

{% endblock %}