{% extends "TrakiDinarek_Profile/base_generic.html" %}
{% load static %}
{% load TrakiDinarek_Profile_extras %}

{% block content %}
  <section id="main-content">
      <section class="wrapper site-min-height" style="width: 100%">

                   <div class="row centered">
                        <ul id="progressbar">
                            <li class="active">Order details</li>
                            <li{% if personal_form %} class="active"{% endif %}> Personal Details</li>
                            <li {% if key %} class="active"{% endif %}>Payment</li>
                        </ul>
                    </div>
                        <div class="row form-panel style-form">
                                <div class="col-lg-8 col-lg-offset-2 detailed">
                                     <h4 class="mb">Order Details</h4>
                                      <p>When topping up your account balance with credit card,
                                          the minimum amount is 20.000 <img class="Coin" src="{% static 'Images/TDCoins.png' %}" alt="">
                                          and the maximum amount is 1 000 000 <img class="Coin" src="{% static 'Images/TDCoins.png' %}" alt=""> a day.
                                          if you need to increase your limit please contact our support team. </p>


                                    <form class="form-horizontal" method="post" action="
                                                                {% if personal_form %}
                                                                {% url 'order_cart' %}
                                                                {% else %}
                                                                {% url 'cart_details' %}
                                                                {% endif %}
                                                             ">
                                        {% csrf_token %}
                                              <div class="form-group">
                                                  <label class="col-sm-2 col-sm-2 control-label ">Current Balance</label>
                                                          <div class="col-sm-8">
                                                              {% if form.Amount.value is none %}
                                                                     0 <img class="Coin" src="{% static 'Images/TDCoins.png' %}" alt="">
                                                              {% else %}
                                                               {{ form.Amount.value }} <img class="Coin" src="{% static 'Images/TDCoins.png' %}" alt="">
                                                              {% endif %}
                                                          </div>
                                              </div>
                                              <div class="form-group">
                                                    <label class="col-sm-2 col-sm-2 control-label ">Amount to Add</label>
                                                    <div class="col-sm-8">
                                                        {{ form.Amount_to_add }} <img class="Coin" src="{% static 'Images/TDCoins.png' %}" alt="">

                                                    </div>
                                              </div>
                                              <div class="form-group">
                                                    <label class="col-sm-2 col-sm-2 control-label ">Payment Method</label>
                                                    <div class="col-sm-8">Payment Card</div>
                                              </div>
                                              {% if  personal_form %}
                                                    <h4 class="mb">General Information</h4>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 col-sm-2 control-label ">{{ personal_form.first_name.label }}</label>
                                                          <div class="col-sm-8">
                                                               {{ personal_form.first_name }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 col-sm-2 control-label "> {{ personal_form.last_name.label }}</label>
                                                          <div class="col-sm-8">
                                                              {{ personal_form.last_name }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 col-sm-2 control-label ">{{ personal_form.email.label }}</label>
                                                          <div class="col-sm-8">
                                                              {{ personal_form.email }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 col-sm-2 control-label ">{{ personal_form.phone_number.label }} </label>
                                                          <div class="col-sm-8">
                                                               {{ personal_form.phone_number }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 col-sm-2 control-label ">{{ personal_form.address.label }}</label>
                                                          <div class="col-sm-8">{{ personal_form.address }}</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 col-sm-2 control-label ">{{ personal_form.city.label }}</label>
                                                          <div class="col-sm-8">{{ personal_form.city }}</div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-2 col-sm-2 control-label ">{{ personal_form.zip.label }}</label>
                                                        <div class="col-sm-8">{{ personal_form.zip }}</div>
                                                    </div>
                                              {% endif %}
                                              {% if not key %}
                                                <div class="row centered">
                                                    <input type="submit" name="submit" class="btn btn-theme btn-lg" value="Next" />
                                                    <button type="button" class="btn btn-theme04 btn-lg">Cancel</button>
                                                </div>

                                              {% endif %}
                                    </form>
                                            {% if key %}
                                                <h4 class="mb">Payment </h4>
                                                <script src="https://js.stripe.com/v3/"></script>
                                                <form action="{% url 'payment_done' %}" method="post" id="payment-form">
                                                                  {% csrf_token %}
                                                    <div class="form-row">
                                                      <label for="card-element">
                                                        Credit or debit card
                                                      </label>
                                                      <div id="card-element" class="StripeElement StripeElement--empty"><div class="__PrivateStripeElement" style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;"><iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeFrame5" allowpaymentrequest="true" src="https://js.stripe.com/v3/elements-inner-card-7ded7040938c178bdd15a25ee9f128ad.html#style[base][color]=%2332325d&amp;style[base][fontFamily]=%22Helvetica+Neue%22%2C+Helvetica%2C+sans-serif&amp;style[base][fontSmoothing]=antialiased&amp;style[base][fontSize]=16px&amp;style[base][::placeholder][color]=%23aab7c4&amp;style[invalid][color]=%23fa755a&amp;style[invalid][iconColor]=%23fa755a&amp;componentName=card&amp;wait=false&amp;rtl=false&amp;keyMode=test&amp;origin=https%3A%2F%2Fstripe.com&amp;referrer=https%3A%2F%2Fstripe.com%2Fdocs%2Fstripe-js&amp;controllerId=__privateStripeController1" title="Secure payment input frame" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; height: 19.2px;"></iframe><input class="__PrivateStripeElement-input" aria-hidden="true" aria-label=" " autocomplete="false" maxlength="1" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: 0px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;"></div></div>

                                                      <!-- Used to display form errors. -->
                                                      <div id="card-errors" role="alert"></div>
                                                    </div>

                                                    <button class="btn btn-theme btn-lg">Submit Payment</button>
                                                </form>
                                                <div id="stripe-token-handler" class="is-hidden">Success! Got token: <span class="token"></span></div>
                                            {% endif %}
                                </div>
                              <div>
                         </div>
                   </div>

        </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{% static 'lib/bootstrap-fileupload/bootstrap-fileupload.js' %}"></script>
    <script>
  var stripe = Stripe("{{key}}");
</script>
  <script type="text/javascript" src="{% static 'js/stripeTools.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>


{% endblock %}
{% block css %}
      <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-fileupload/bootstrap-fileupload.css' %}" />
             <link rel="stylesheet" type="text/css" href="{% static 'css/shopping.css' %}" />
     <link rel="stylesheet" type="text/css" href="{% static 'css/stripe.css' %}" />

{% endblock %}