<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 {% block title %}   <title>TrakiDinarek</title>{% endblock %}
 {% load static %}
        <link href="{% static 'fonts/fonts.css' %}" rel='stylesheet' type='text/css' />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

        <!--===============================================================================================-->
{% block css%}{% endblock css %}

</head>
<body>
{% block sidebar %}<!-- insert default navigation text for every page -->{% endblock %}
{% block content %}<!-- default content text (typically empty) -->{% endblock %}

{% block js%}

{% endblock js %}
</body>
</html>