{% load static %}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

 {% block title %}   <title>TrakiDinarek</title>{% endblock %}
  <!-- Favicons -->
    <link href="{% static 'Images/logo.png' %} " rel="icon">
    <link rel="apple-touch-icon" href="{% static 'Images/logo.png' %}" >
    <!-- Bootstrap core CSS -->
    <link rel='stylesheet' href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" >
    <!--external css-->
    <link href="{% static 'lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/zabuto_calendar.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/gritter/css/jquery.gritter.css' %}" />
    <!-- Custom styles for this template -->
    <link  rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-responsive.css' %}" >
    <script src="{% static 'lib/chart-master/Chart.js' %}"></script>

{% block css%}{% endblock css %}

</head>
<body>
  <section id="container">
<!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
*********************************************************************************************************************************************************** -->
<!--{% include "TrakiDinarek_Profile/top_bar.html" %}-->
<!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
*********************************************************************************************************************************************************** -->
<!--{% include "TrakiDinarek_Profile/side_bar.html" %}-->
<!-- **********************************************************************************************************************************************************
    MAIN Content
*********************************************************************************************************************************************************** -->
{% block content %}<!-- default content text (typically empty) -->{% endblock %}
<!-- **********************************************************************************************************************************************************
    FOOTER
*********************************************************************************************************************************************************** -->
<!--{% include "TrakiDinarek_Profile/footer.html" %}-->
  </section>
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <!--common script for all pages-->
  <script src="{% static 'lib/common-scripts.js'%}"></script>
  <script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/custom-notification.js' %}" type="text/javascript"></script>
{% register_notify_callbacks callbacks='fill_notification_badge,my_special_notification_callback' %}

{% block js%}

{% endblock js %}
</body>
</html>