  {% load static %}
 <!--footer start-->
    <footer class="site-footer">
      <div class="text-center">
        <p>
          &copy; Copyrights <strong>TrakiDinarek</strong>. All Rights Reserved
        </p>

        <a href="{% url 'homepage' %}" class="go-top">
          <i class="fa fa-angle-up"></i>
          </a>
      </div>
    </footer>
    <!--footer end-->