     {% load static %}
{% load TrakiDinarek_Profile_extras %}
<!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          {% if user.is_authenticated %}
          <p class="centered"><a href="{% url 'profile' %}"><img src="{% user_picture user %}" class="img-circle" width="80"></a></p>
          {% endif %}

          <h5 class="centered">{{ user.get_full_name }} </h5>
            {% if user.is_superuser %}

              <li class="mt">
                <a class="
                {% if request.path ==  '/home/'  %}
                active
                {% endif %}" href="{% url 'homepage' %}">
                  <i class="fa fa-dashboard"></i>
                  <span>Dashboard</span>
                  </a>
              </li>
            {% endif %}
          <li class="sub-menu">
            <a href="javascript:;" class="
            {% if request.path ==  '/association/'  %}
            active
            {% endif %}">
              <i class="fa fa-building"></i>
              <span>My association</span>
              </a>
            <ul class="sub">
              <li class="
            {% if request.path ==  '/association/'  %}
            active
            {% endif %}"
              ><a href="{% url 'association_profile' %}">General</a></li>
              <li><a href="buttons.html">My programs</a></li>

            </ul>
          </li>
        {% if user.is_superuser %}
          <li class="sub-menu">
            <a href="javascript:;" class="
            {% if request.path ==  '/users/' or  request.path ==  '/associations/' or request.path ==  '/home_edit/' %}
            active
            {% endif %}">
              <i class="fa fa-th"></i>
              <span>Data Tables</span>
              </a>
            <ul class="sub">
            <li class="
            {% if request.path ==  '/home_edit/'  %}
            active
            {% endif %}"
              ><a href="{% url 'home_slider' %}">Home Slider</a></li>
              <li class="
            {% if request.path ==  '/users/'  %}
            active
            {% endif %}"
              ><a href="{% url 'return_users' %}">Users Table</a></li>
              <li class="
            {% if request.path ==  '/associations/'  %}
            active
            {% endif %}"
              ><a href="{% url 'return_associations' %}">Associations Table</a></li>
            </ul>
          </li>
          <li>
              {% endif %}
                    <!--Transactions -->
            <li class="sub-menu">
            <a href="javascript:;" class="
            {% if request.path ==  '/history_shopping/' or  request.path ==  '/history_donations/'  %}
            active
            {% endif %}">
              <i class="fa fa-money"></i>
              <span>Payment history</span>
              </a>
            <ul class="sub">
                <li class="
                {% if request.path ==  '/history_shopping/'  %}
                active
                {% endif %}"
                  ><a href="{% url 'home_slider' %}">buying History</a></li>
                  <li class="
                {% if request.path ==  '/history_donations/' %}
                active
                {% endif %}"
                  ><a href="{% url 'return_users' %}">Donation History</a></li>
            </ul>
                 <li class="mt">
                <a class="
                {% if request.path ==  '/faq/'  %}
                active
                {% endif %}" href="{% url 'homepage' %}">
                  <i class="fa fa-question"></i>
                  <span>FAQ</span>
                  </a>
              </li>
            </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
    <!--sidebar end-->