{% load static %}
{% load notifications_tags %}
 {% notifications_unread as unread_count %}

   <!--header start-->
    <header class="header black-bg">
      <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
      </div>
      <!--logo start-->
      <a href={% url 'home' %} class="logo"><img src="{% static '/Images/logo.png' %}" height="50px" ></a>
      <!--logo end-->
      <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">

          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
              <i class="fa fa-bell-o"></i>
              <span class="badge bg-warning">{% live_notify_badge %}</span>
              </a>
            <ul class="dropdown-menu extended notification " >
                {% if unread_count %}
                  <div class="notify-arrow notify-arrow-yellow"></div>
                  <li>
                    <p class="yellow">You have {% live_notify_badge %} new notifications</p>
                  </li>
                {% endif %}
            <div id="unread_notifications">

            </div>

            </ul>
          </li>
          <!-- notification dropdown end -->
        </ul>
        <!--  notification end -->
      </div>
      <div class="top-menu">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="{% url 'logout_user' %}">Logout</a></li>
        </ul>
      </div>
    </header>
    <!--header end-->
