{% extends "TrakiDinarek_home/base_Home.html" %}
{% load static %}

{% block content %}

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>News</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="news-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="news-content">
                        <a href="#"><img src="../../static/Images/home/1.jpg" alt=""></a>

                        <header class="entry-header d-flex flex-wrap justify-content-between align-items-center">
                            <div class="header-elements">
                                <div class="posted-date">March 12, 2018</div>

                                <h2 class="entry-title"><a href="#">Toys for Children Campaign</a></h2>

                                <div class="post-metas d-flex flex-wrap align-items-center">
                                    <span class="cat-links">in <a href="#">Causes</a></span>
                                    <span class="post-author">by <a href="#">Tom Phillips</a></span>
                                    <span class="post-comments"><a href="#">3 Comments</a></span>
                                </div>
                            </div>

                            <div class="donate-icon">
                                <a href="#"><img src="../../static/Images/home/donate-icon.png" alt=""></a>
                            </div>
                        </header>

                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc.</p>
                        </div>

                        <footer class="entry-footer">
                            <a href="#" class="btn gradient-bg">Read More</a>
                        </footer>
                    </div>

                    <div class="news-content">
                        <a href="#"><img src="../../static/Images/home/2.jpg" alt=""></a>

                        <header class="entry-header d-flex flex-wrap justify-content-between align-items-center">
                            <div class="header-elements">
                                <div class="posted-date">March 12, 2018</div>

                                <h2 class="entry-title"><a href="#">Toys for Children Campaign</a></h2>

                                <div class="post-metas d-flex flex-wrap align-items-center">
                                    <span class="cat-links">in <a href="#">Causes</a></span>
                                    <span class="post-author">by <a href="#">Tom Phillips</a></span>
                                    <span class="post-comments"><a href="#">3 Comments</a></span>
                                </div>
                            </div>

                            <div class="donate-icon">
                                <a href="#"><img src="../../static/Images/home/donate-icon.png" alt=""></a>
                            </div>
                        </header>

                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc.</p>
                        </div>

                        <footer class="entry-footer">
                            <a href="#" class="btn gradient-bg">Read More</a>
                        </footer>
                    </div>

                    <div class="news-content">
                        <a href="#"><img src="../../static/Images/home/3.jpg" alt=""></a>

                        <header class="entry-header d-flex flex-wrap justify-content-between align-items-center">
                            <div class="header-elements">
                                <div class="posted-date">March 12, 2018</div>

                                <h2 class="entry-title"><a href="#">Toys for Children Campaign</a></h2>

                                <div class="post-metas d-flex flex-wrap align-items-center">
                                    <span class="cat-links">in <a href="#">Causes</a></span>
                                    <span class="post-author">by <a href="#">Tom Phillips</a></span>
                                    <span class="post-comments"><a href="#">3 Comments</a></span>
                                </div>
                            </div>

                            <div class="donate-icon">
                                <a href="#"><img src="../../static/Images/home/donate-icon.png" alt=""></a>
                            </div>
                        </header>

                        <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris. Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris quis aliquam. Integer accumsan sodales odio, id tempus velit ullamc.</p>
                        </div>

                        <footer class="entry-footer">
                            <a href="#" class="btn gradient-bg">Read More</a>
                        </footer>
                    </div>

                    <ul class="pagination d-flex flex-wrap align-items-center p-0">
                        <li class="active"><a href="#">01</a></li>
                        <li><a href="#">02</a></li>
                        <li><a href="#">03</a></li>
                    </ul>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="sidebar">
                        <div class="search-widget">
                            <form class="flex flex-wrap align-items-center">
                                <input type="search" placeholder="Search...">
                                <button type="submit" class="flex justify-content-center align-items-center">GO</button>
                            </form><!-- .flex -->
                        </div><!-- .search-widget -->

                        <div class="popular-posts">
                            <h2>Popular Posts</h2>

                            <ul class="p-0">
                                <li class="d-flex flex-wrap justify-content-between align-items-center">
                                    <figure><a href="#"><img src="../../static/Images/home/p-1.jpg" alt=""></a></figure>

                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">A new cause to help</a></h3>

                                        <div class="posted-date">MArch 12, 2018</div>
                                    </div>
                                </li>

                                <li class="d-flex flex-wrap justify-content-between align-items-center">
                                    <figure><a href="#"><img src="../../static/Images/home/p-2.jpg" alt=""></a></figure>

                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">We love to help people</a></h3>

                                        <div class="posted-date">MArch 10, 2018</div>
                                    </div>
                                </li>

                                <li class="d-flex flex-wrap justify-content-between align-items-center">
                                    <figure><a href="#"><img src="../../static/Images/home/p-3.jpg" alt=""></a></figure>

                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">The new ideas for helping</a></h3>

                                        <div class="posted-date">MArch 09, 2018</div>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- .cat-links -->

                        <div class="upcoming-events">
                            <h2>Upcoming Events</h2>

                            <ul class="p-0">
                                <li class="d-flex flex-wrap justify-content-between align-items-center">
                                    <figure><a href="#"><img src="../../static/Images/home/u-1.jpg" alt=""></a></figure>

                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">Fundraiser for Kids</a></h3>

                                        <div class="post-metas d-flex flex-wrap align-items-center">
                                            <span class="posted-date"><a href="#">Aug 25, 2018</a></span>
                                            <span class="event-location"><a href="#">Ball Room New York</a></span>
                                        </div>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </li>

                                <li class="d-flex flex-wrap justify-content-between align-items-center">
                                    <figure><a href="#"><img src="../../static/Images/home/u-2.jpg" alt=""></a></figure>

                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">The childrens</a></h3>

                                        <div class="post-metas d-flex flex-wrap align-items-center">
                                            <span class="posted-date"><a href="#">Aug 25, 2018</a></span>
                                            <span class="event-location"><a href="#">Ball Room New York</a></span>
                                        </div>

                                        <p>Consectetur adipiscing elit. Mauris tempus vestib ulum.</p>
                                    </div>
                                </li>

                                <li class="d-flex flex-wrap justify-content-between align-items-center">
                                    <figure><a href="#"><img src="../../static/Images/home/u-3.jpg" alt=""></a></figure>

                                    <div class="entry-content">
                                        <h3 class="entry-title"><a href="#">Bring water </a></h3>

                                        <div class="post-metas d-flex flex-wrap align-items-center">
                                            <span class="posted-date"><a href="#">Aug 25, 2018</a></span>
                                            <span class="event-location"><a href="#">Ball Room New York</a></span>
                                        </div>

                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- .cat-links -->

                        <div class="featured-cause">
                            <h2>Featured Causes</h2>

                            <div class="cause-wrap">
                                <figure class="m-0 position-relative">
                                    <a href="#"><img src="../../static/Images/home/cause-3.jpg" alt=""></a>
                                </figure>

                                <div class="cause-content-wrap">
                                    <header class="entry-header d-flex flex-wrap align-items-center">
                                        <h3 class="entry-title w-100 m-0"><a href="#">Bring water to the childrens</a></h3>
                                    </header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempus vestib ulum mauris.</p>
                                    </div><!-- .entry-content -->

                                    <div class="fund-raised w-100">
                                        <div class="fund-raised-bar-3 barfiller">
                                            <div class="tipWrap">
                                                <span class="tip"></span>
                                            </div><!-- .tipWrap -->

                                            <span class="fill" data-percentage="83"></span>
                                        </div><!-- .fund-raised-bar -->

                                        <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                                            <div class="fund-raised-total mt-4">
                                                Raised: $56 880
                                            </div><!-- .fund-raised-total -->

                                            <div class="fund-raised-goal mt-4">
                                                Goal: $70 000
                                            </div><!-- .fund-raised-goal -->
                                        </div><!-- .fund-raised-details -->
                                    </div><!-- .fund-raised -->
                                </div><!-- .cause-content-wrap -->
                            </div><!-- .cause-wrap -->
                        </div>
                    </div><!-- .sidebar -->
                </div><!-- .col -->
            </div>
        </div>
    </div>
{% endblock %}