{% extends "TrakiDinarek_home/base_Home.html" %}
{% load static %}

{% block content %}


    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Portfolio</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="portfolio-wrap">
        <div class="container">
            <div class="row portfolio-container">
                <div class="col-12 col-md-6 col-lg-4 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/a.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Toys for Children Campaign</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/b.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Toys for Children Campaign</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/c.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Water for Children AID</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/d.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Water for Children AID</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-48 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/e.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Toys for Children Campaign</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-48 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/f.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Toys for Children Campaign</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-72 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/g.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Toys for Children Campaign</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6 mt-72 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/h.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Water for Children AI</a>D</h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-72 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/i.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Toys for Children Campaign</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/a.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Toys for Children Campaign</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/b.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Toys for Children Campaign</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/c.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Water for Children AID</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/d.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Water for Children AID</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-48 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/e.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Toys for Children Campaign</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mt-48 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/f.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Toys for Children Campaign</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-72 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/g.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Toys for Children Campaign</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6 mt-72 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/h.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Water for Children AI</a>D</h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3 mt-72 portfolio-item">
                    <div class="portfolio-cont">
                        <a href="#"><img src="../../static/Images/home/i.jpg" alt=""></a>

                        <h3 class="entry-title"><a href="#">Toys for Children Campaign</a></h3>
                        <h4>2018 Causes</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 d-flex justify-content-center mt-72">
                    <a href="#" class="btn gradient-bg load-more-btn">Load More</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}