{% extends "TrakiDinarek_home/base_Home.html" %}
{% load TrakiDinarek_login_extras %}
{% load TrakiDinarek_Home_extras %}

{% load static %}

{% block content %}

    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>The Cause</h1>
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->

    <div class="highlighted-cause">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7 order-2 order-lg-1">
                    <div class="section-heading">
                        <h2 class="entry-title">Bring water to the childrens</h2>
                    </div><!-- .section-heading -->

                    <div class="entry-content mt-5">
                        <p >Teach and encourage childrens to use the faucet to fill their cup or how to use
                                    the water dispenser on the fridge. Set up a reward system when your child drinks more water.
                                    Give your child a reward sticker for drinking his or her water or do a special dance when
                                    they give you an empty bottle. Be a role model.</p>
                    </div><!-- .entry-content -->

                    <div class="fund-raised w-100 mt-5">
                        <div class="featured-fund-raised-bar barfiller">
                            <div class="tipWrap">
                                <span class="tip"></span>
                            </div><!-- .tipWrap -->

                            <span class="fill" data-percentage="83"></span>
                        </div><!-- .fund-raised-bar -->

                        <div class="fund-raised-details d-flex flex-wrap justify-content-between align-items-center">
                            <div class="fund-raised-total mt-4">
                                Raised: <img src="{% static 'Images/TDCoins.png' %}" alt="">56 880
                            </div><!-- .fund-raised-total -->

                            <div class="fund-raised-goal mt-4">
                                Goal: <img src="{% static 'Images/TDCoins.png' %}" alt="">70 000
                            </div><!-- .fund-raised-goal -->
                        </div><!-- .fund-raised-details -->
                    </div><!-- .fund-raised -->

                    <div class="entry-footer mt-5">
                        <a href="#" id="donate" class="btn gradient-bg">Donate Now</a>
                    </div><!-- .entry-footer -->
                </div><!-- .col -->

                <div class="col-12 col-lg-5 order-1 order-lg-2">
                    <img src="{% static 'img/water_tunisia.jpg' %}" style="max-width: 500px" alt="">
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .highlighted-cause -->


        <div class="container" style="margin-top: 50px">
            <div class="row">
                    <div class="section-heading">
                        <h2 class="entry-title">Description</h2>
                    </div>
                <p>
                    Residents in the interior are suffering long water supply cuts, reservoirs are running dry and farmers are seeing significant losses, adding to social tensions in a country still struggling with instability since its 2011 revolution.

The Tunisian citizens’ water observatory, known as Watchwater, warned last month the country could face a “thirst uprising” reminiscent of the protest movement that spread across Tunisia nearly six years ago.

                    “The failure to find urgent and serious solutions will increase protests across the country,” it said.</p>
                <p>Water scarcity has long been a problem for Tunisia, but in recent years the challenge has been exacerbated by growing urbanisation and increasing demand from agriculture and industry.

This year has seen the country particularly hard-hit, with rainfall – Tunisia’s main water source – down by some 30 per cent, the state secretary for water resources and fishing, Abdallah Rabhi, said.

In August, the agriculture ministry warned Tunisia would be facing a catastrophic situation if it did not rain by the end of the summer. The few rainstorms since have not been enough to replenish groundwater reserves or reservoirs.

Agricultural losses for this year have already reached nearly two billion dinars (Dh3.3bn), according to the Tunisian Union of Agriculture and Fisheries.

                    The ministry of religious affairs has even called on the people to “pray for rain”.</p>
                <p>

Since mid-May, the authorities have announced more than 700 water supply cuts. Officially, they last from several hours to three days, but Alaa Marzouki of Watchwater said that in some regions the cuts have lasted nearly a month.

Protests have erupted in several affected areas, with the water shortages adding to the frustrations of many residents who feel their concerns are being ignored by authorities in Tunis.

At one demonstration in the northwestern town of Fernana earlier this month, protesters gathered at a local pumping station and threatened to disrupt supplies to the capital, according to local media reports.

“Economic protests resembling those that sparked the 2010 Jasmine Revolution are spreading throughout Tunisia and may grow into nationwide civil unrest,” the Washington-based American Enterprise Institute warned this month.

                    In the southwestern Gafsa region, local farmer Mabrouk said frustration was growing.</p>

“We are suffering,” said Mabrouk, who declined to give his last name.
                <p>

“We had to buy a water tank for 30 dinars for what we use and what our animals use. We’ve sent requests to the government but they remain unanswered. All we can do is wait for rain, God willing.”

Tunisia has some 30 dams and reservoirs that provide irrigation of agricultural land and drinking water, but by the end of August their reserves were less than 40 per cent of what they were at the same time last year, Mr Rabhi said.

Some, like the Nabhana reservoir in central Tunisia, are completely dry.

At the Sidi Salem dam near Beja in northern Tunisia, reserves are about half what they were last year.

“You have to go back to 1993-1994 to find such a level,” said the dam’s manager, Cherif Gasmi.

“If rain does not come by the end of September ... we will have to tap the dam’s strategic reserves and that’s a very dangerous situation,” he said.
                </p>
            </div><!-- .row -->
        </div><!-- .container -->


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="donation-form-wrap">
                    <h2>Make a donation</h2>

                    <h4 class="mt-5">How much do you want to donate?</h4>

                    <form class="donation-form">
                        <div class="donate-amount-wrap d-flex flex-wrap align-items-center mt-5">
                            <label class="radio-label">
                                <input type="radio" name="donation_amount" value="10" />
                                <span class="donate-amount"><img src="{% static 'Images/TDCoins.png' %}" alt="">10</span>
                            </label>

                            <label class="radio-label">
                                <input type="radio" name="donation_amount" value="20" />
                                <span class="donate-amount"><img src="{% static 'Images/TDCoins.png' %}" alt="">20</span>
                            </label>

                            <label class="radio-label">
                                <input type="radio" name="donation_amount" value="25" checked="checked"/>
                                <span class="donate-amount"><img src="{% static 'Images/TDCoins.png' %}" alt="">25</span>
                            </label>

                            <label class="radio-label">
                                <input type="radio" name="donation_amount" value="50" />
                                <span class="donate-amount"><img src="{% static 'Images/TDCoins.png' %}" alt="">50</span>
                            </label>

                            <label class="radio-label">
                                <input type="radio" name="donation_amount" value="100" />
                                <span class="donate-amount"><img src="{% static 'Images/TDCoins.png' %}" alt="">100</span>
                            </label>

                            <label class="radio-label">
                                <input type="radio" name="donation_amount" value="custom" />
                                <span class="donate-amount">Other Amount</span>
                            </label>
                        </div>



                        <div class="billing-information  d-flex flex-wrap justify-content-between align-items-center">
                            <h4 class="w-100 mt-5 mb-3">write the Amount</h4>
                            <input type="number" placeholder="Amount">
                        </div>

                        <input class="btn gradient-bg mt-5" type="submit" value="Donate Now">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
        <script type='text/javascript' src='{% static "node_modules/web3/dist/web3.min.js" %}'></script>

        <script type='text/javascript' src='{% static "/js/web3_controller.js" %}'></script>
    <script>
    let server ="{% blockchain_server %}";
    let userAddress="{% get_user_blockchain_address user  %}";
    let userPassword= "{% get_user_blockchain_password user %}";
    let AdminAddress="{% get_Admin_blockchain_address %}";
    let ProjectAddress = "{%  getProjectAddress 5%}";
    let TokenAddress = "{% getTokenAddress %}";

    </script>

{% endblock %}