{% extends "TrakiDinarek_Profile/base_generic.html" %}
{% load static %}
{% load TrakiDinarek_association_extras %}
{% load TrakiDinarek_login_extras %}


{% block content %}
    <section id="main-content">
      <section class="wrapper site-min-height">
            <div class="row centered">
                <ul id="progressbar">
                    <li class="active">Project category</li>
                    <li>Basic Details</li>
                    <li>Project Goal</li>
                </ul>
            </div>
            <div class="form-panel">
                <form method="POST" class=" form-horizontal style-form" id="msform" action="{% url 'signup' %}" enctype="multipart/form-data">
                            <!-- progressbar -->
                        {% csrf_token %}
                        <fieldset id="checks">
                            <h3 class="fs-title">First, let’s get you set up.</h3>
                            <h4 class="fs-subtitle">Pick a project category to connect with a specific community. You can always update this later.</h4>
                        <hr>
                        <div class="errorTxt">
                            <ul/>
                        </div>
                              <!-- /row -->
                            {% with MEDIA_URL|addstr:"/Images/" as baseUrl %}
                                            {% for value, label, TOPIC in form.favorite_topics.field.choices %}

                                                        {% if forloop.counter|add:"-1"|divisibleby:"3" %}
                                                               <div class="row mt ">
                                                        {% endif %}

                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">

                                                            <div class="project-wrapper">
                                                                  <div class="photo">
                                                                    <div class="hovereffect" >
                                                                        <label class="image-checkbox">
                                                                            <div class="layer" name="{{ value }}">
                                                                            <img class="img-responsive" src="{% get_media_prefix %}Images/{{TOPIC.image}}" alt="">
                                                                            </div>

                                                                            <div class="overlay">
                                                                                <h2>{{ TOPIC.name }}</h2>
                                                                                <p>
                                                                                    {{ TOPIC.desc }}
                                                                                </p>
                                                                            </div>
                                                                            <input type="checkbox" class="categories_list" name="favorite_topics" value="{{value}}" />
                                                                            <i class="fa fa-check hidden"></i>
                                                                        </label>
                                                                    </div>
                                                                   </div>
                                                                   <p class="project_name">{{ TOPIC.name }}</p>

                                                            </div>
                                                        </div>

                                                        {% if forloop.counter|divisibleby:"3" or forloop.counter == 17 %}
                                                               </div>

                                                        {% endif %}
                                            {% endfor %}


                            {% endwith %}
                        <div class="row centered">
                             <input type="button" name="next" class=" next action-button  btn btn-default " value="Next" disabled="disabled"/>
                        </div>
                        </fieldset>
                        <fieldset>

                            <h3 class="fs-title">Describe what you’ll be creating. </h3>
                            <h4 class="fs-subtitle">Make it easy for people to learn about your project.</h4>
                            <hr>
                             <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label ">{{ form.title.label }}</label>
                                <div class="col-sm-8">
                                    {{ form.title }}
                                    <span class="help-block"> {{ form.title.help_text }}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">{{ form.subtitle.label }}</label>
                                <div class="col-sm-8">
                                    {{ form.subtitle }}
                                    <span class="help-block"> {{ form.subtitle.help_text }}</span>
                                </div>
                            </div>
                             <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">{{ form.Description.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form.Description|safe }}
                                        <span class="help-block"> {{ form.Description.help_text }}</span>
                                    </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">{{ form.bottlenecks.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form.bottlenecks }}
                                        <span class="help-block"> {{ form.bottlenecks.help_text }}</span>
                                    </div>
                            </div>
                            <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">{{ form.location.label }}</label>
                                    <div class="col-sm-8">
                                        {{ form.location }}
                                        <input type="text" name="{{ form.lat.html_name }}"  class="form-control" required="" id="{{ form.lat.id_for_label }}" style="display: none">
                                        <input type="text" name="{{ form.lon.html_name }}"  class="form-control" required="" id="{{ form.lon.id_for_label }}" style="display: none">
                                        <span class="help-block"> {{ form.location.help_text }}</span>
                                    </div>
                            </div>


                            <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">{{ form.Project_image.label }}</label>
                              <div class="col-md-10">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                  <div class="fileupload-new thumbnail" style="width: 200px; height: 200px;">
                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                  </div>
                                  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 200px; line-height: 20px;"></div>
                                  <div>
                                    <span class="btn btn-theme02 btn-file">
                                      <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select image</span>
                                    <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                        {{ form.Project_image }}
                                    </span>
                                                                             <span class="help-block"> </span>

                                    <a href="advanced_form_components.html#" class="btn btn-theme04 fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
                                  </div>
                                </div>
                                <span class="label label-info">NOTE!</span>
                                <span>
                                  {{ form.Project_image.help_text }}
                                  </span>
                              </div>
                            </div>
                            <div class="form-group">
                          <label class="col-sm-2 col-sm-2 control-label">{{ form.Project_video.label }}</label>
                          <div class="controls col-md-10">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                              <span class="btn btn-theme02 btn-file">
                                <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select file</span>
                              <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                             {{ form.Project_video }}
                              </span>
                              <span class="fileupload-preview" style="margin-left:5px;"></span>
                              <a href="advanced_form_components.html#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                            </div>
                                                              <span>{{ form.Project_video.help_text }}</span>
                                                                     <span class="help-block"> </span>


                          </div>
                        </div>
                            <div class="row centered">
                            <input type="button" name="previous" class="previous action-button-previous" value="Previous">
                            <input type="button" name="next" class=" next action-button  btn btn-default " value="Next" />
                            </div>
                        </fieldset>
                        <fieldset>
                               <h3 class="fs-title">Set an achievable goal that covers what you need to complete your project. </h3>
                               <h4 class="fs-subtitle">Funding is all-or-nothing. If you don’t meet your goal, you won’t receive any money.</h4>
                            <hr>
                               <div class="form-group ">
                                        <label class="col-sm-2 col-sm-2 control-label">{{ form.Funding_needed.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.Funding_needed }}
                                        </div>
                                       <span class="help-block"> </span>

                                </div>
                                  <div class="form-group id" style="display: none">
                                        <label class="col-sm-2 col-sm-2 control-label">{{ form.Funding_goal.label }}</label>
                                        <div class="col-sm-8">
                                            {{ form.Funding_goal }}
                                            <span class="help-block"> {{ form.Funding_goal.help_text }}</span>
                                        </div>
                                      <div class="col-sm-2">
                                        <p>DT</p>
                                      </div>
                                </div>
                                <hr>
                                 <div class="form-group id" >
                                        <label class="col-sm-2 col-sm-2 control-label">{{ form.Campaign_duration.label }}</label>
                                        <div class="col-sm-8">
                                            <div data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="{{ form.Campaign_duration.initial }}" class="input-append date dpYears">
                                                {{ form.Campaign_duration }}
                                                <span class="input-group-btn add-on">
                                                <button class="btn btn-theme" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                            <span class="help-block"> {{ form.Campaign_duration.help_text }}</span>
                                        </div>
                                </div>
                                <div class="form-group id" >
                                        <label class="col-sm-2 col-sm-2 control-label">{{ form.starting_date.label }}</label>
                                        <div class="col-sm-8">
                                            <div data-date-viewmode="years" data-date-format="dd-mm-yyyy" data-date="{{ form.starting_date.initial }}" class="input-append date dpYears">
                                                {{ form.starting_date }}
                                                <span class="input-group-btn add-on">
                                                <button class="btn btn-theme" type="button"><i class="fa fa-calendar"></i></button>
                                                </span>
                                            </div>
                                            <span class="help-block"> {{ form.starting_date.help_text }}</span>
                                        </div>
                                </div>
                                <div class="row centered">
                                  <input type="button" name="previous" class="previous action-button-previous" value="Previous">
                                  <input type="submit" name="submit" class="submit action-button" value="Submit" />
                                </div>
                </fieldset>
                   <hr>
                        <div class="row centered">
                            <h5>To create a project, you're required to provide your location, age, national ID
                            ,email, and mailing address. This information is necessary to prevent fraud,
                            comply with the law, and — if your project is successful — to deliver funds. Please note: after launch,
                            your ability to edit, hide, or delete a project is limited.</h5>
                        </div>


                </form>
            </div>

      </section>
      <!-- /wrapper -->
    </section>
{% endblock %}
{% block js %}
    <script src="{% static "lib/fancybox/jquery.fancybox.js"  %} "></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap-fileupload/bootstrap-fileupload.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.remember-state.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/additional-methods.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/jquery-ui-1.9.2.custom.min.js' %}"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdRshmfLX-xGjkhAbMa85qY4Msq8pBYWU&libraries=places"></script>
    <script src="{% static 'lib/advanced-form-components.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/bootstrap-daterangepicker/date.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/new_project.js' %}"></script>
        <script src="{% static 'js/summernote.js' %}"></script>

  <script type="text/javascript">
    $(function() {
    //    fancybox
    jQuery(".fancybox").fancybox();
    });

  </script>


{% endblock %}
{% block css %}
      <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-fileupload/bootstrap-fileupload.css'%}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/category_hover.css'%}" />
      <link rel="stylesheet" type="text/css" href="{% static 'css/new_project.css'%}" />
      <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-datepicker/css/datepicker.css'%}" />
        <link href="{% static 'css/summernote.css' %}">



{% endblock %}