{% extends "TrakiDinarek_Profile/base_generic.html" %}
{% load static %}
{% load TrakiDinarek_association_extras %}

{% block content %}
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="row content-panel">
              <div class="col-md-4 profile-text mt mb centered">
                <div class="right-divider hidden-sm hidden-xs">
                 <h4>10</h4>
                  <h6>Projects</h6>
                  <h4><img class="Coin" src="{% static 'Images/TDCoins.png' %}" alt=""> 13,980</h4>
                  <h6>TDcoin</h6>
                </div>
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 profile-text">
                <h3>{% association_name  form.instance %}</h3>
                <h6> Association</h6>
                <p>{% association_discription  form.instance %}</p>
                <br>
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 centered " style="padding: 1% 0">
                  <p><img src="{% association_picture  form.instance %}" style="max-width: 500px"> </p>
                   <p>
                    <a href="{%  url 'startproject' %}" type="button" class="btn btn-theme02">Start Project</a>
                </p>
              </div>
              <!-- /col-md-4 -->

            </div>
            <!-- /row -->
          </div>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                    {% if form.instance.name != "" %}
                        <li >
                            <a data-toggle="tab" href="#overview">Overview</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#contact" class="contact-map">Contact</a>
                        </li>
                    {% endif %}

                  <li>
                    <a data-toggle="tab" href="#edit">Edit Association</a>
                  </li>
                </ul>
              </div>
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                   {% if form.instance.name != "" %}
                      <div id="overview" class="tab-pane ">
                        <div class="row " style="min-height: 530px">
                                <div class="col-lg-8 col-lg-offset-2 detailed mt">
                                       <h4 class="mb">Shared projects</h4>
                                </div>
                                        <div class="col-md-4 col-sm-4 mb">
                                            <div class="stock card">
                                              <div class="stock-chart">
                                                <div id="chart" style="background: url({% static 'img/school_tunisia.jpg' %}) center bottom no-repeat;background-size:cover ">
                                                </div>
                                              </div>
                                              <div class="stock current-price">
                                                <div class="row">
                                                  <div class="info col-sm-6 col-xs-6"><abbr>Education for all</abbr>
                                                    <time>Yesterday</time>
                                                  </div>
                                                  <div class="changes col-sm-6 col-xs-6">
                                                    <div class="value up"><img class="Coin" src="{% static 'Images/TDCoins.png' %}" alt=""> 50</div>
                                                    <div class="change hidden-sm hidden-xs">(83%)</div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="summary">
                                                <strong>Goal</strong> <span><img class="Coin" src="{% static 'Images/TDCoins.png' %}" alt="">80</span>,
                                                  <strong>Time left</strong> <span>5 Days</span>
                                              </div>
                                            </div>
                                        </div>

                        </div>
                        <!-- /OVERVIEW -->
                      </div>
                      <!-- /tab-pane -->
                      <div id="contact" class="tab-pane">
                        <div class="row">
                          <div class="col-md-6 ">
                            <div id="map"></div>
                          </div>
                          <!-- /col-md-6 -->
                          <div class="col-md-6 detailed">
                            <div class="col-md-8 col-md-offset-2 mt">
                              <h4>Location</h4>

                              <p>
                                {% association_address form.instance %}
                              </p>
                              <br>

                            </div>
                            <div class="col-md-8 col-md-offset-2 mt">
                                <h4>Contacts</h4>
                                {%  association_contact form.instance %}
                            </div>
                          </div>
                          <!-- /col-md-6 -->
                        </div>
                        <!-- /row -->
                      </div>
                   {% endif %}

                      <!-- /tab-pane -->
                      <div id="edit" class="tab-pane">

                        <div class="row">
                            <form role="form" method="post" action="{% url 'association_profile' %}" class="form-horizontal" enctype="multipart/form-data">
                                                                    {% csrf_token %}
                                <div class="col-lg-8 col-lg-offset-2 detailed mt">
                                    <h4 class="mb">Association Information</h4>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Logo</label>
                                        <div class="col-lg-6">
                                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                                <div class="fileupload-new thumbnail" style="width: 200px; height: 200px;">
                                                    <img src="{% association_picture form.instance %}" alt="" />
                                                </div>
                                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 200px; line-height: 20px;"></div>
                                                <div>
                                            <span class="btn btn-theme02 btn-file">
                                              <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select image</span>
                                            <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                            <input type="file" class="default" name="{{ form.photo.html_name }}" accept="image/*" id="{{ form.photo.id_for_label }}" />
                                            </span>
                                                    <a href="{% url 'association_profile' %}#" class="btn btn-theme04 fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label"> {{ form.name.label }}</label>
                                        <div class="col-lg-6">
                                            {{ form.name }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Association's director</label>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder=" " id="lives-in" class="form-control" value="{% association_director user %}" readonly >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">{{ form.information.label }}</label>
                                        <div class="col-lg-10">
                                              {{ form.information }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-lg-offset-2 detailed mt">
                                      <h4 class="mb">Contact Information</h4>
                                      <div class="form-group">
                                        <label class="col-lg-2 control-label">{{ form.email.label }}</label>
                                        <div class="col-lg-6">
                                            {{ form.email }}
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-lg-2 control-label">{{ form.phone.label }}</label>
                                        <div class="col-lg-6">
                                                {{ form.phone }}
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-lg-2 control-label">{{ form.address.label }}</label>
                                        <div class="col-lg-6">
                                                {{ form.address }}
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-lg-2 control-label">{{ form.city.label }}</label>
                                        <div class="col-lg-6">
                                                    {{ form.city }}
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-lg-2 control-label">{{ form.zip.label }}</label>
                                        <div class="col-lg-6">
                                            {{ form.zip  }}
                                         </div>
                                      </div>
                                      <div class="form-group">
                                        <label class="col-lg-2 control-label">{{ form.website.label }}</label>
                                        <div class="col-lg-6">
                                          {{ form.website }}
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                          <button class="btn btn-theme" type="submit">Save</button>
                                          <button class="btn btn-theme04" type="button">Cancel</button>
                                        </div>
                                      </div>
                                </div>
                            </form>
                          </div>
                          </form>

                          <!-- /col-lg-8 -->
                        </div>
                        <!-- /row -->
                      </div>
                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{% static 'lib/bootstrap-fileupload/bootstrap-fileupload.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/additional-methods.min.js' %}"></script>
  <script>
    var active_tab='0';
    if (localStorage) { // let's not crash if some user has IE7
        active_tab = parseInt(localStorage['association_nav_tab'] || '0');
    }
       active_tab ="{{ active_tab }}" ||active_tab;
  </script>
  <script type="text/javascript" src="{% static 'js/association.js' %}"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdRshmfLX-xGjkhAbMa85qY4Msq8pBYWU&callback=initMap" async defer>
    </script>
    <script>
       let address = "{{ form.instance.address }}";
       let city ="{{ form.instance.city }}";
    function initMap() {
          let lat="{{ form.instance.lat }}";
          let lon="{{ form.instance.long }}";

          var geocoder = new google.maps.Geocoder();
          geocoder.geocode({
              'address': address+","+city
          }, function (results, status) {
              if (status == google.maps.GeocoderStatus.OK) {
                  var myOptions = {
                      zoom: 16,
                      center: results[0].geometry.location,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                  };
                  map = new google.maps.Map(document.getElementById("map"), myOptions);

                  var marker = new google.maps.Marker({
                      map: map,
                      position: results[0].geometry.location,
                      title:address+","+city
                  });
              }
          });



  }
</script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-fileupload/bootstrap-fileupload.css'%}" />
    <link rel='stylesheet' type='text/css' href="{% static 'tomtom/map.css' %}"/>
    <link href="{% static 'css/shopping.css' %}" rel='stylesheet' type='text/css' />

{% endblock %}