{% extends "TrakiDinarek_Profile/base_generic.html" %}
{% load static %}
{% load TrakiDinarek_Profile_extras %}
{% load TrakiDinarek_Home_extras %}

{% block content %}
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper " style="width: 100%">
        <div class="row">
          <div class="col-lg-9 main-chart">
            <!--CUSTOM CHART START -->
            <div class="border-head">
              <h3>USER VISITS</h3>
            </div>
            <div class="custom-bar-chart">
              <ul class="y-axis">
                <li><span>10.000</span></li>
                <li><span>8.000</span></li>
                <li><span>6.000</span></li>
                <li><span>4.000</span></li>
                <li><span>2.000</span></li>
                <li><span>0</span></li>
              </ul>
              <div class="bar">
                <div class="title">JAN</div>
                <div class="value tooltips" data-original-title="8.500" data-toggle="tooltip" data-placement="top">85%</div>
              </div>
              <div class="bar ">
                <div class="title">FEB</div>
                <div class="value tooltips" data-original-title="5.000" data-toggle="tooltip" data-placement="top">50%</div>
              </div>
              <div class="bar ">
                <div class="title">MAR</div>
                <div class="value tooltips" data-original-title="6.000" data-toggle="tooltip" data-placement="top">60%</div>
              </div>
              <div class="bar ">
                <div class="title">APR</div>
                <div class="value tooltips" data-original-title="4.500" data-toggle="tooltip" data-placement="top">45%</div>
              </div>
              <div class="bar">
                <div class="title">MAY</div>
                <div class="value tooltips" data-original-title="3.200" data-toggle="tooltip" data-placement="top">32%</div>
              </div>
              <div class="bar ">
                <div class="title">JUN</div>
                <div class="value tooltips" data-original-title="6.200" data-toggle="tooltip" data-placement="top">62%</div>
              </div>
              <div class="bar">
                <div class="title">JUL</div>
                <div class="value tooltips" data-original-title="7.500" data-toggle="tooltip" data-placement="top">75%</div>
              </div>
            </div>
            <!--custom chart end-->
            <div class="row ">
          <h2 class="centered">Blockchain explorer</h2>
          <div class="col-md-10 col-md-offset-1 mt mb">
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="faq.html#collapseTwo" aria-expanded="false">
                    <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>Get Block by number / hash
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse" aria-expanded="false">
                  <div class="accordion-inner">
                      <div class="row">
                         <div class="form-group">
                                     <label class="col-sm-2 col-sm-2 control-label "><i class="fa fa-search" ></i></label>
                                     <div class="col-sm-8">
                                           <input class="form-control " id="blockSearch" type="text" placeholder="Search block by id / hash">
                                     </div>
                                    <div class="col-sm-2">
                                      <div class="spinner" id="blockSpinner" role="status"></div>
                                    </div>

                         </div>
                      </div>
                      <div class="form-group row" id="block-result"></div>


                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="faq.html#collapseThree" aria-expanded="false">
                    <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>Get transaction by hash
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body collapse" aria-expanded="false">
                  <div class="accordion-inner">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="faq.html#collapseFour" aria-expanded="false">
                    <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>get transaction receipt
                    </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse" aria-expanded="false">
                  <div class="accordion-inner">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="faq.html#collapseFive" aria-expanded="false">
                    <em class="glyphicon glyphicon-chevron-right icon-fixed-width"></em>get account balance
                    </a>
                </div>
                <div id="collapseFive" class="accordion-body collapse" aria-expanded="false">
                  <div class="accordion-inner">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                      specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end accordion -->
          </div>
          <!-- col-md-10 -->
        </div>

            <!-- /row -->
          </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->
          <!-- **********************************************************************************************************************************************************
              RIGHT SIDEBAR CONTENT
              *********************************************************************************************************************************************************** -->
          <!-- /col-lg-3 -->
        </div>
        <!-- /row -->
      </section>
    </section>
    <!--main content end-->
{% endblock %}

  <!-- js placed at the end of the document so the pages load faster -->
{% block js %}
{#        <script type='text/javascript' src='{% static "node_modules/web3/dist/web3.min.js" %}'></script>#}
{##}
{#       <script type='text/javascript' src='{% static "/js/web3_controller.js" %}'></script>#}
{#    <script>#}
{#    let server ="{% blockchain_server %}";#}
{#    let userAddress="{% get_user_blockchain_address user  %}";#}
{#    let userPassword= "{% get_user_blockchain_password user %}";#}
{#    let AdminAddress="{% get_Admin_blockchain_address %}";#}
{#    let ProjectAddress = "{%  getProjectAddress 5%}";#}
{#    let TokenAddress = "{% getTokenAddress %}";#}
{##}
{#    </script>#}



  <script src="{% static 'lib/jquery.sparkline.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter/js/jquery.gritter.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/gritter-conf.js' %}"></script>
  <!--script for this page-->
  <script src="{% static 'lib/sparkline-chart.js' %}"></script>
  <script src="{% static 'lib/zabuto_calendar.js' %}"></script>
      <script src="{% static 'js/index.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      var unique_id = $.gritter.add({
        // (string | mandatory) the heading of the notification
        title: 'Welcome to TrakiDinarek!',
        // (string | mandatory) the text inside the notification
        text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo.',
        // (string | optional) the image to display on the left
        image: "{% user_picture user %}",
        // (bool | optional) if you want it to fade out on its own or just sit there
        sticky: false,
        // (int | optional) the time you want it to be alive for before fading out
        time: 8000,
        // (string | optional) the class name you want to apply to that specific message
        class_name: 'my-sticky-class'
      });

      return false;
    });
  </script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }

  </script>
{% endblock %}
{% block css %}
    <style>
        @keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;

  margin-left: -15px;
  border-radius: 50%;
  border: 1px solid #ccc;
  border-top-color: #000000;
  animation: spinner .6s linear infinite;
}
}
    </style>

{%endblock %}