{% extends "TrakiDinarek_Profile/base_generic.html" %}
{% load static %}
{% load TrakiDinarek_Profile_extras %}
{% load TrakiDinarek_login_extras %}

<body>
{% block content %}
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <div class="row mt">
          <div class="col-lg-12">
            <div class="row content-panel">
              <div class="col-md-4 profile-text mt mb centered">
                <div class="right-divider hidden-sm hidden-xs">
                  <h4>10</h4>
                  <h6>Published</h6>
                  <h4>15</h4>
                  <h6>Favorite</h6>
                  <h4><img class="Coin" src="{% static 'Images/TDCoins.png' %}" alt=""> 13,980</h4>
                  <h6>TDcoin</h6>
                </div>
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 profile-text">
                <h3>{{ user.get_full_name }}</h3>
                <h6>{% position user %}</h6>
                <p>Thank you for being an active member in our community.</p>
                <br>
              </div>
              <!-- /col-md-4 -->
              <div class="col-md-4 centered">
                <div class="profile-pic">
                  <p><img src="{% user_picture user %}" class="img-circle"></p>
                        <a href="{% url 'cart_details' %}" type="button" class="btn btn-primary">Buy Coins</a>
                </div>
              </div>
              <!-- /col-md-4 -->
            </div>
            <!-- /row -->
          </div>
          <!-- /col-lg-12 -->
          <div class="col-lg-12 mt">
            <div class="row content-panel">
              <div class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                  <li >
                    <a data-toggle="tab" href="#overview">Overview</a>
                  </li>

                  <li>
                    <a data-toggle="tab" href="#edit">Edit Profile</a>
                  </li>
                </ul>
              </div>
              <!-- /panel-heading -->
              <div class="panel-body">
                <div class="tab-content">
                  <div id="overview" class="tab-pane">
                    <div class="row">
                      <div class="col-md-6">

                        <div class="detailed mt">
                          <h4>Favorite Topics</h4>
                                {% if categories %}


                                   {% with MEDIA_URL|addstr:"/Images/" as baseUrl %}
                                            {% for category in categories %}
                                                        {% if forloop.counter|add:"-1"|divisibleby:"6" %}
                                                               <div class="row  "  >
                                                        {% endif %}

                                                         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 desc ">

                                                               <div class="project-wrapper">
                                                                  <div class="photo">
                                                                            <img class="img-responsive " src="{% get_media_prefix %}Images/SDGs/{{ category.id }}.png" alt="">
                                                                  </div>
                                                                   <p class="project_name">{{ category.name }}</p>

                                                            </div>
                                                        </div>

                                                        {% if forloop.counter|divisibleby:"6" or forloop.counter == 17 %}
                                                               </div>

                                                        {% endif %}
                                            {% endfor %}

                                                {% if  categories|length < 6 %}
                                                    </div>
                                                {% endif %}
                                   {% endwith %}
                                {% endif %}
                          <!-- /recent-activity -->
                        </div>
                        <!-- /detailed -->
                      </div>
                      <!-- /col-md-6 -->
                      <div class="col-md-6 detailed">
                        <h4>User Stats</h4>
                        <div class="row centered mt mb">
                          <div class="col-sm-6">
                              <h1><i class="fa fa-trophy"></i></h1>
                            <h3>5</h3>
                            <h6>Donations made</h6>
                          </div>
                          <div class="col-sm-6">
                             <h1><i class="fa fa-money"></i></h1>

                            <h3> <img class="Coin" src="{% static 'Images/TDCoins.png' %}" alt=""> 22,980</h3>
                            <h6>total donations amount</h6>
                          </div>
                        </div>
                        <!-- /row -->

                        <!-- /row -->
                        <h4>Pending Tasks</h4>
                        <div class="row centered">
                          <div class="col-md-8 col-md-offset-2">
                            <h5>Profile Update (40%)</h5>
                            <div class="progress">
                              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">40% Complete (success)</span>
                              </div>
                            </div>

                          </div>
                          <!-- /col-md-8 -->
                        </div>
                        <!-- /row -->
                      </div>
                      <!-- /col-md-6 -->
                    </div>
                    <!-- /OVERVIEW -->
                  </div>

                  <div id="edit" class="tab-pane">
                    <div class="row">
                      <div class="col-lg-8 col-lg-offset-2 detailed">
                        <h4 class="mb">Personal Information</h4>
                        <div role="form" class="form-horizontal" action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                             {% csrf_token %}
                          <div class="form-group">
                            <label class="col-lg-2 control-label"> Profile Picture</label>
                            <div class="col-lg-6">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                  <div class="fileupload-new thumbnail" style="width: 200px; height: 200px;">
                                    <img src="{% user_picture user %}" alt="" />
                                  </div>
                                  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 200px; line-height: 20px;"></div>
                                  <div>
                                    <span class="btn btn-theme02 btn-file">
                                      <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select image</span>
                                    <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                    <input type="file" class="default" name="{{ form.photo.html_name }}" accept="image/*" id="{{ form.photo.id_for_label }}" />
                                    </span>
                                    <a href="advanced_form_components.html#" class="btn btn-theme04 fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
                                  </div>
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">{{ form.first_name.label }}</label>
                            <div class="col-lg-6">
                              {{ form.first_name }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">{{ form.last_name.label }}</label>
                            <div class="col-lg-6">
                                {{ form.last_name }}
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 control-label">{{ form.email.label }}</label>
                            <div class="col-lg-6">
                              {{ form.email }}
                            </div>
                          </div>
                          <h4 class="mb">Contact Information</h4>
                          <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form.phone_number.label }}</label>
                        <div class="col-lg-6">
                        {{ form.phone_number }}
                        </div>
                        </div>
                          <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form.address.label }}</label>
                        <div class="col-lg-6">
                        {{ form.address }}
                        </div>
                        </div>
                          <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form.city.label }}</label>
                        <div class="col-lg-6">
                        {{ form.city }}
                        </div>
                        </div>
                          <div class="form-group">
                        <label class="col-lg-2 control-label">{{ form.zip.label }}</label>
                        <div class="col-lg-6">
                        {{ form.zip }}
                        </div>
                        </div>
                          <h4 class="mb">Topics</h4>
                                                           {% with MEDIA_URL|addstr:"/Images/" as baseUrl %}
                                            {% for value, label, category in form.favorite_topics.field.choices %}
                                                        {% if forloop.counter|add:"-1"|divisibleby:"6" %}
                                                               <div class="row  "  >
                                                        {% endif %}

                                                         <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 desc ">

                                                               <div class="project-wrapper">
                                                                   <label class="image-checkbox">
                                                                  <div class="photo">
                                                                            <img class="img-responsive " src="{% get_media_prefix %}Images/SDGs/{{ category.id }}.png" alt="">
                                                                            <input type="checkbox" name="favorite_topics" value="{{value}}" />
                                                                            <i class="fa fa-check hidden"></i>
                                                                  </div>
                                                                   </label>

                                                                   <p class="project_name">{{ category.name }}</p>

                                                            </div>
                                                        </div>

                                                        {% if forloop.counter|divisibleby:"6" or forloop.counter == 17  %}
                                                               </div>

                                                        {% endif %}
                                            {% endfor %}

                                   {% endwith %}

                          <h4 class="mb">Identity Information</h4>
                          <div class="form-group">
                                    <label class="col-lg-2 control-label"> Identity card:</label>
                                    <div class="col-lg-6">
                                       <div class="fileupload fileupload-new" data-provides="fileupload">
                                          <span class="btn btn-theme02 btn-file">
                                            <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select file</span>
                                          <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                                              <input type="file" class="default" id="{{ papers_form.jort_justification.id_for_label }}" name="{{ papers_form.jort_justification.name }}">
                                          </span>
                                          <span class="fileupload-preview" style="margin-left:5px;">
                                              {% if  papers_form.jort_justification.value  %}
                                                    <a href="{{ papers_form.jort_justification.value.url }}" target="_blank">
                                                         {%   filename papers_form.jort_justification.value %}
                                                    </a>
                                              {% endif %}
                                          </span>
                                        </div>
                                    </div>
                                </div>
                          <div class="form-group">
                        <label class="col-lg-2 control-label"> ASSOCIATION'S DIRECTOR JUSTIFICATION:</label>
                        <div class="col-lg-6">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                          <span class="btn btn-theme02 btn-file">
                            <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select file</span>
                          <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                             <input type="file" class="default" id="{{ papers_form.president_justification.id_for_label }}" name="{{ papers_form.president_justification.name }}">
                          </span>
                          <span class="fileupload-preview" style="margin-left:5px;">
                              {% if papers_form.president_justification.value %}

                                   <a href="{{ papers_form.president_justification.value.url }}" target="_blank">
                                               {%   filename papers_form.president_justification.value %}
                                  </a>
                              {% endif %}

                          </span>
                        </div>
                        </div>
                        </div>
                          <div class="form-group">
                        <label class="col-lg-2 control-label">Declaration of the association</label>
                        <div class="col-lg-6">
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                          <span class="btn btn-theme02 btn-file">
                            <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select file</span>
                          <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                               <input type="file" class="default" id="{{ papers_form.declaration_justification.id_for_label }}" name="{{ papers_form.declaration_justification.name }}">
                          </span>
                          <span class="fileupload-preview" style="margin-left:5px;">
                              {% if papers_form.declaration_justification.value  %}
                                    <a href="{{ papers_form.declaration_justification.value.url }}" target="_blank">
                                               {%   filename papers_form.declaration_justification.value %}
                                    </a>
                              {% endif %}

                          </span>
                        </div>
                        </div>
                        </div>
                          <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                  <button type="submit" class="btn btn-theme" >Save</button>
                                </div>
                              </div>
                        </form>
                      </div>

                      <!-- /col-lg-8 -->
                    </div>
                    <!-- /row -->
                  </div>
                  <!-- /tab-pane -->
                </div>
                <!-- /tab-content -->
              </div>
              <!-- /panel-body -->
            </div>
            <!-- /col-lg-12 -->
          </div>
          <!-- /row -->
        </div>
        <!-- /container -->
      </section>
      <!-- /wrapper -->
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{% static 'lib/bootstrap-fileupload/bootstrap-fileupload.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/additional-methods.min.js' %}"></script>
  <script>
    var active_tab='0';
    if (localStorage) { // let's not crash if some user has IE7
        active_tab = parseInt(localStorage['nav_tab'] || '0');
    }
       active_tab ="{{ active_tab }}" ||active_tab;
  </script>
  <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>

{% endblock %}
{% block css %}
      <link rel="stylesheet" type="text/css" href="{% static 'lib/bootstrap-fileupload/bootstrap-fileupload.css'%}" />
        <link href="{% static 'css/shopping.css' %}" rel='stylesheet' type='text/css' />


{% endblock %}